<div class="page-header">
  <h1>Modifier mes informations</h1>
</div>

<div class="row">
  <div class="span12">
    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
        {{ form_widget(form) }}
         <div class="control-group">
          <div class="controls">
            <input class="btn" type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
          </div>
        </div>
    </form>
  </div>
</div>
