{% form_theme form 'GmasMusicBundle:Form:condensed.html.twig' %}

<form class="form-horizontal">
    {{ form_widget(form) }}

    <div class="form-group" style="margin-top: -6px;">
		<input type="button" class="btn btn-success" class="form-control" onclick="addSong();" value="Valider">
    </div>
</form>