{% extends "GmasMusicBundle::layout.html.twig" %}

{% block body %}
  <div ng-view></div>
{% endblock %}

{% block footer %}
<div id="infos">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-3">
        <img src="{{ asset('img/pourtous.png') }}" alt="">
        <h2>Pour tous</h2>
        <p>Vous cherchez de bonnes musiques, fraiches et calmes pour profiter pleinement ? Nous aussi, écoutez les nôtres et partagez les vôtres !</p>
      </div>

      <div class="col-sm-offset-1 col-sm-3">
        <img src="{{ asset('img/espacemembres.png') }}" alt="">
        <h2>Espace membre</h2>
        <p>L'inscription est gratuite ! Et une fois connecté, vous pourrez enregistrer certaines musiques dans vos favoris pour les retrouver plus tard.</p>
      </div>

      <div class="col-sm-offset-1 col-sm-3">
        <img src="{{ asset('img/communaute.png') }}" alt="">
        <h2>Communauté</h2>
        <p>Vous pouvez aussi nous proposer des musiques que vous aimez pour les ajouter à notre playlist. Nous voulons aussi découvrir de nouvelles choses !</p>
      </div>
  </div>
</div>
{% endblock %}

{% block script %}
$('[data-toggle="popover"]').popover({
    html: true,
    title: function () {
      return $(this).parent().find('.head').html();
    },
    content: function () {
      return $(this).parent().find('.content').html();
    }
  }
);


function checkAllBox() {
  $(':checkbox').prop('checked', true);
}

function uncheckAllBox() {
  $(':checkbox').prop('checked', false);
}

{% endblock %}

