RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ web/$1 [QSA,L]


# skip "real" requests
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .* - [QSA,L]

# _welcome
RewriteCond %{REQUEST_URI} ^/$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:_welcome,E=_ROUTING_default__controller:Gmas\\MusicBundle\\Controller\\SongController\:\:indexAction]

# fos_user_security_login
RewriteCond %{REQUEST_URI} ^/login$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:fos_user_security_login,E=_ROUTING_default__controller:FOS\\UserBundle\\Controller\\SecurityController\:\:loginAction]

# fos_user_security_check
RewriteCond %{REQUEST_URI} ^/login_check$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:fos_user_security_check,E=_ROUTING_default__controller:FOS\\UserBundle\\Controller\\SecurityController\:\:checkAction]

# fos_user_security_logout
RewriteCond %{REQUEST_URI} ^/logout$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:fos_user_security_logout,E=_ROUTING_default__controller:FOS\\UserBundle\\Controller\\SecurityController\:\:logoutAction]

# fos_user_profile_show
RewriteCond %{REQUEST_URI} ^/profile/$
RewriteCond %{REQUEST_METHOD} !^(GET|HEAD)$ [NC]
RewriteRule .* - [S=2,E=_ROUTING_allow_GET:1,E=_ROUTING_allow_HEAD:1]
RewriteCond %{REQUEST_URI} ^/profile$
RewriteRule .* $0/ [QSA,L,R=301]
RewriteCond %{REQUEST_URI} ^/profile/$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:fos_user_profile_show,E=_ROUTING_default__controller:FOS\\UserBundle\\Controller\\ProfileController\:\:showAction]

# fos_user_profile_edit
RewriteCond %{REQUEST_URI} ^/profile/edit$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:fos_user_profile_edit,E=_ROUTING_default__controller:FOS\\UserBundle\\Controller\\ProfileController\:\:editAction]

# fos_user_registration_register
RewriteCond %{REQUEST_URI} ^/register$
RewriteRule .* $0/ [QSA,L,R=301]
RewriteCond %{REQUEST_URI} ^/register/$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:fos_user_registration_register,E=_ROUTING_default__controller:FOS\\UserBundle\\Controller\\RegistrationController\:\:registerAction]

# fos_user_registration_check_email
RewriteCond %{REQUEST_URI} ^/register/check\-email$
RewriteCond %{REQUEST_METHOD} !^(GET|HEAD)$ [NC]
RewriteRule .* - [S=1,E=_ROUTING_allow_GET:1,E=_ROUTING_allow_HEAD:1]
RewriteCond %{REQUEST_URI} ^/register/check\-email$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:fos_user_registration_check_email,E=_ROUTING_default__controller:FOS\\UserBundle\\Controller\\RegistrationController\:\:checkEmailAction]

# fos_user_registration_confirm
RewriteCond %{REQUEST_URI} ^/register/confirm/([^/]++)$
RewriteCond %{REQUEST_METHOD} !^(GET|HEAD)$ [NC]
RewriteRule .* - [S=1,E=_ROUTING_allow_GET:1,E=_ROUTING_allow_HEAD:1]
RewriteCond %{REQUEST_URI} ^/register/confirm/([^/]++)$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:fos_user_registration_confirm,E=_ROUTING_param_token:%1,E=_ROUTING_default__controller:FOS\\UserBundle\\Controller\\RegistrationController\:\:confirmAction]

# fos_user_registration_confirmed
RewriteCond %{REQUEST_URI} ^/register/confirmed$
RewriteCond %{REQUEST_METHOD} !^(GET|HEAD)$ [NC]
RewriteRule .* - [S=1,E=_ROUTING_allow_GET:1,E=_ROUTING_allow_HEAD:1]
RewriteCond %{REQUEST_URI} ^/register/confirmed$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:fos_user_registration_confirmed,E=_ROUTING_default__controller:FOS\\UserBundle\\Controller\\RegistrationController\:\:confirmedAction]

# fos_user_resetting_request
RewriteCond %{REQUEST_URI} ^/resetting/request$
RewriteCond %{REQUEST_METHOD} !^(GET|HEAD)$ [NC]
RewriteRule .* - [S=1,E=_ROUTING_allow_GET:1,E=_ROUTING_allow_HEAD:1]
RewriteCond %{REQUEST_URI} ^/resetting/request$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:fos_user_resetting_request,E=_ROUTING_default__controller:FOS\\UserBundle\\Controller\\ResettingController\:\:requestAction]

# fos_user_resetting_send_email
RewriteCond %{REQUEST_URI} ^/resetting/send\-email$
RewriteCond %{REQUEST_METHOD} !^(POST)$ [NC]
RewriteRule .* - [S=1,E=_ROUTING_allow_POST:1]
RewriteCond %{REQUEST_URI} ^/resetting/send\-email$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:fos_user_resetting_send_email,E=_ROUTING_default__controller:FOS\\UserBundle\\Controller\\ResettingController\:\:sendEmailAction]

# fos_user_resetting_check_email
RewriteCond %{REQUEST_URI} ^/resetting/check\-email$
RewriteCond %{REQUEST_METHOD} !^(GET|HEAD)$ [NC]
RewriteRule .* - [S=1,E=_ROUTING_allow_GET:1,E=_ROUTING_allow_HEAD:1]
RewriteCond %{REQUEST_URI} ^/resetting/check\-email$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:fos_user_resetting_check_email,E=_ROUTING_default__controller:FOS\\UserBundle\\Controller\\ResettingController\:\:checkEmailAction]

# fos_user_resetting_reset
RewriteCond %{REQUEST_URI} ^/resetting/reset/([^/]++)$
RewriteCond %{REQUEST_METHOD} !^(GET|POST|HEAD)$ [NC]
RewriteRule .* - [S=1,E=_ROUTING_allow_GET:1,E=_ROUTING_allow_POST:1,E=_ROUTING_allow_HEAD:1]
RewriteCond %{REQUEST_URI} ^/resetting/reset/([^/]++)$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:fos_user_resetting_reset,E=_ROUTING_param_token:%1,E=_ROUTING_default__controller:FOS\\UserBundle\\Controller\\ResettingController\:\:resetAction]

# fos_user_change_password
RewriteCond %{REQUEST_URI} ^/profile/change\-password$
RewriteCond %{REQUEST_METHOD} !^(GET|POST|HEAD)$ [NC]
RewriteRule .* - [S=1,E=_ROUTING_allow_GET:1,E=_ROUTING_allow_POST:1,E=_ROUTING_allow_HEAD:1]
RewriteCond %{REQUEST_URI} ^/profile/change\-password$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:fos_user_change_password,E=_ROUTING_default__controller:FOS\\UserBundle\\Controller\\ChangePasswordController\:\:changePasswordAction]

# gmas_music_homepage
RewriteCond %{REQUEST_URI} ^/$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:gmas_music_homepage,E=_ROUTING_default__controller:GmasMusicBundle\:Music\:index]

# gmas_music_categories_route
RewriteCond %{REQUEST_URI} ^/categories/listen/([^/]++)$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:gmas_music_categories_route,E=_ROUTING_param_category_id:%1,E=_ROUTING_default__controller:Gmas\\MusicBundle\\Controller\\CategoriesController\:\:listenAction]

# gmas_music_songs_listen
RewriteCond %{REQUEST_URI} ^/songs/listen/([^/]++)$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:gmas_music_songs_listen,E=_ROUTING_param_song_id:%1,E=_ROUTING_default__controller:Gmas\\MusicBundle\\Controller\\SongController\:\:listenAction]

# gmas_music_admin_homepage
RewriteCond %{REQUEST_URI} ^/admin$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:gmas_music_admin_homepage,E=_ROUTING_default__controller:Gmas\\MusicBundle\\Controller\\SongController\:\:admin_listAction]

# gmas_music_admin_songs_list
RewriteCond %{REQUEST_URI} ^/admin/songs/list$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:gmas_music_admin_songs_list,E=_ROUTING_default__controller:Gmas\\MusicBundle\\Controller\\SongController\:\:admin_listAction]

# gmas_music_admin_songs_delete
RewriteCond %{REQUEST_URI} ^/admin/songs/delete/([^/]++)$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:gmas_music_admin_songs_delete,E=_ROUTING_param_id:%1,E=_ROUTING_default__controller:Gmas\\MusicBundle\\Controller\\SongController\:\:admin_deleteAction]

# gmas_music_songs_ajax_suggest
RewriteCond %{REQUEST_URI} ^/songs/suggest$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:gmas_music_songs_ajax_suggest,E=_ROUTING_default__controller:Gmas\\MusicBundle\\Controller\\AjaxController\:\:updateDataAction]

# gmas_music_songs_ajax_deadlink
RewriteCond %{REQUEST_URI} ^/songs/deadlink$
RewriteRule .* app.php [QSA,L,E=_ROUTING_route:gmas_music_songs_ajax_deadlink,E=_ROUTING_default__controller:Gmas\\MusicBundle\\Controller\\AjaxController\:\:deadlinkAction]

# 405 Method Not Allowed
RewriteCond %{ENV:_ROUTING__allow_GET} =1 [OR]
RewriteCond %{ENV:_ROUTING__allow_POST} =1 [OR]
RewriteCond %{ENV:_ROUTING__allow_HEAD} =1
RewriteRule .* app.php [QSA,L]