{% extends "GmasMusicBundle::layout.html.twig" %}

{% block body %}
<div id="trailer">
    <div class="col-sm-3 small"></div>
    <div class="col-sm-6 big">
      Félicitations !
    </div>
    <div class="col-sm-3 small"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12" style="margin-top: 30px; text-align: center;">
      <p>L'utilisateur a été créé avec succès.<br>
      Félicitations <strong>{{ user.username }}</strong>, ton compte est maintenant activé.</p>

      <p><a href="{{ path('gmas_music_homepage') }}">Maintenant, je veux profiter !</a>
    </div>
  </div>
</div>
{% endblock %}
