parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    ip:                195.154.78.2
    remote_url:        mob.givemeasong.com
    remote_host:       mob.givemeasong.com

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
