{% extends "GmasRemoteBundle::layout.html.twig" %}

{% block body %}
  <div class="row" id="block-sessions">
    <div class="col-xs-12">
      <div class="well">
        <h3 style="margin-top: 10px; margin-bottom: 25px;">Sessions disponibles</h3>
        <div class="list-group row" id="sessions">
          <div class="col-xs-12 col-sm-6">Il n'y a aucune session disponible actuellement.</div>
        </div>

        <br /><br />

        <div style="text-align: center">
          <button id="refresh" type="button" class="btn btn-primary" style="margin-left: auto; margin-right: auto;">
            <span class="glyphicon glyphicon-refresh"></span> Rafraichir
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var socket = io.connect('{{ ip }}:1337');

  socket.on('sessions', function (data) {
    $('#sessions').html('');
    var i;
    if(data.list_session.length == 0) {
      $("#sessions").html('<div style="margin-left: auto; margin-right: auto;">Il n\'y a aucune session disponible actuellement.</div>')
    }
    else {
      for (i = 0; i < data.list_session.length; ++i) {
        $('#sessions').append('<div class="col-xs-12 col-sm-6"><a href="{{ path('remote_client_security') }}/' + data.list_session[i] + '/' + data.list_ident[i] + '" class="list-group-item remote-session"><h4 class="list-group-item-heading">' + data.list_ident[i] + '</h4><p class="list-group-item-text"><i class="glyphicon glyphicon-music"></i> ' + data.list_listening[i] + '</p></a></div>');
      }
    }
  });

  $('#refresh').click(function () {
    $('#sessions').html('<div class="col-xs-12 col-sm-6">Il n\'y a aucune session disponible actuellement.</div>');
    socket.emit('refresh');
  });

  socket.emit('join-mobile', { session: 'waiting'});
  </script>
{% endblock %}