{% extends "GmasRemoteBundle::layout.html.twig" %}

{% block body %}
<div class="row">
  <div class="col-sm-12">
    <h1 class="page-header">Télécommande Give me a Song!</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p style="text-align: center" class="well">
      <strong>Sessions disponibles :</strong><br />
      <ul id="sessions" class="well" >
        <em>Chargement ...</em>
      </ul>
      <br /><br />
    </p>

    <p style="text-align: center" class="well">
      <button id="refresh" type="button" class="btn btn-primary" style="margin-left: auto; margin-right: auto;">
        <span class="glyphicon glyphicon-refresh"></span> Rafraichir
      </button>
    </p>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var socket = io.connect('{{ ip }}:1337');

  socket.on('sessions', function (data) {
    $('#sessions').html('');
    var i;
    for (i = 0; i < data.list_session.length; ++i) {
      $('#sessions').append('<li><a href="{{ path('remote_client_security') }}/' + data.list_session[i] + '/' + data.list_ident[i] + '">' + data.list_ident[i] + '</a></li>');
    }

  });

  $('#refresh').click(function () {
    $('#sessions').html('<em>Chargement ...</em>');
    socket.emit('refresh');
  });

  socket.emit('join-mobile', { session: 'waiting'});
  </script>
{% endblock %}