
                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}" class="btn btn-warning btn-xs"><i class="fa fa-edit"></i></a>
                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_delete_get', { 'id': entity.id }) }}" }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>