<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Télécommande | Give me a Song! </title>
        <meta charset="UTF-8">
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link href="{{ asset('css/bootstrap.css')}}" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script src="{{ asset('js/jquery-2.0.3.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/socket.io.min.js') }}"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>